:root {
    --bg: #0D0D0D;
    --dark: #161616;
    --text-color: #F2F2F2;
    --blue-1: #212A3F;
    --blue-2: #566072;
    --muted-1: #BEBEBE;
    --muted-2: #797979;
    --muted-3: #202020;
    --muted-4: #3d3d3d;
}

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'Ahsing';
    src: url('/fonts/Ahsing.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins.ttf');
}

@font-face {
    font-family: 'Edwardian';
    src: url('/fonts/Edwardian.ttf');
}

body {
    background-color: var(--bg);
    color: var(--text-color);
}