:root {
    --muted: rgb(197, 197, 197)
}

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf');
}

body {
    background-color: rgb(13, 17, 22);
    color: white;
}