.container {
    width: 670px;
    padding: 10px;
    border-radius: 15px;
    background-color: #fcfcfc;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    width: fit-content;
}

.pageImg {
    border-radius: 50px;
}

.pageTitle {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: .95rem;
}

.subTitle {
    font-size: .8rem;
    color: rgb(71, 71, 71);
}

.content {
    display: flex;
    flex-direction: column;
}

.uriTitle {
    color: #1859c2;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    width: fit-content;
}

.pageDesc {
    color: rgb(48, 48, 48);
    font-size: .9rem;
    text-align: justify;
}

.uriTitle:hover {
    text-decoration: underline;
}