.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    width: 95px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    padding: 10px;
    text-shadow:
       -1px -1px 0 rgb(105, 105, 105),
        1px -1px 0 rgb(105, 105, 105),
       -1px  1px 0 rgb(105, 105, 105),
        1px  1px 0 rgb(105, 105, 105);

}

.container:hover {
    background-color: #eeeeee18;
}