.container {
    position: absolute;
    width: 100vw;
    height: 45px;
    bottom: -1;
    left: 0;
    background-color: #e6f1fcea;
    border-top: 1px solid #e6f1fc;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
}

.wImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;

    transition: .15s ease-in;
    border-radius: 3px;
}

.wImageContainer:hover {
    background-color: #e6f1fc;
    cursor: pointer;
}

.wImage {
    pointer-events: none;
}

.mgImage {
    cursor: pointer;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    transition: .15s ease-in;
}

.mgImage:hover {
    background-color: #e6f1fc;
    cursor: pointer;
}