.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 85%;
    cursor: pointer;
    border-radius: 5px;
    transition: .15s ease-in;
}

.container:hover {
    background-color: rgb(213, 213, 213);
}

.openedHr {
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 3px;
    border-radius: 5px;
    transition: .15s ease-in;
}