.container {
    position: absolute;
    width: 100vw;
    height: 50px;
    bottom: -1;
    left: 0;
    background-color: #f8f8f8f5;
    border-top: 1px solid #ffffff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    gap: 5px;
}

.wImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 85%;

    transition: .15s ease-in;
    border-radius: 3px;
}

.wImageContainer:hover {
    background-color: #e6f1fc;
    cursor: pointer;
}

.wImage {
    pointer-events: none;
}

.mgImage {
    cursor: pointer;
    width: 33px;
    padding-left: 5px;
    padding-right: 5px;
    height: 85%;
    transition: .15s ease-in;
    border-radius: 3px;
}

.mgImage:hover {
    background-color: #E6F4F8;
    cursor: pointer;
}