.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    height: 700px;
    border-radius: 5px;
    background-color: #fcfcfc;

    display: flex;
    flex-direction: column;
    border: 2px solid #c5c5c5;
}

.windowControlContainer {
    position: relative;
    width: 100%;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid #e0e0e0;
}

.windowButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 12px;
    flex-shrink: 0;
}

.windowControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.windowIcon {
    display: flex;
    align-items: center;
}

.windowControl li {
    cursor: pointer;
}

.windowContent {
    width: 100%;
    height: 95%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}