.container {
    text-align: center;
}

.container h1 {
    font-family: 'Ahsing';
    color: var(--text-color);
    font-size: 15vh;
}

.container h3 {
    font-family: 'Poppins';
    color: var(--aqua);
    font-size: 5vh;
    text-align: center;
}