.background_gradiant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/*
* Presentation
*/
.title {
    font-family: 'Montserrat';
    font-size: 6rem;
    width: 50%;
    font-weight: bold;
    flex-grow: 2;
}

.presentation {
    display: flex;
    flex-direction: row;
    padding: 7%;
    align-items: center
}

.profile_vector {
    margin-left: auto;
}

@media (max-width: 1600px) {
    .presentation {
        flex-direction: column;
    }

    .profile_picture {
        margin-left: 0;
    }
}

/*
* TypeWriter
*/

.mouseCircleFollower {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 200px;
    height: 200px;
    opacity: 20%;
    border-radius: 50%;
    background-color: white;
}