.container {
    text-align: center;
}

.subcontainer {
    margin-left: 10rem;
    margin-right: 10rem;
}

.container h3 {
    font-family: 'Poppins';
    color: var(--aqua);
    font-size: 5vh;
    text-align: center;
}

.techSection {
    display: flex;
    align-items: center;
}

.techSection span {
    flex: 1;
    font-family: 'Edwardian';
    color: var(--text-color);
    font-size: 10vh;
}

.techSection >*:not(span) {
    flex: 1;
}