.container {
    position: fixed;
    left:2%;
    top: 50%;
    transform: translateY(-50%);
}

.container ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background-color: var(--dark);
    width: max-content; /* 👈 clave */
    
    list-style-type: none;
    font-family: 'Poppins';
    padding: 1rem;
    border-radius: 10rem;
    border: 2px solid var(--muted-3);
}


.container li {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;

    cursor: pointer;
    justify-content: left;
}

.container li img {
    object-fit: contain;
    width: 24px
}

.container li span {
    display: none;
}
