.container {
    display: flex;
    flex-direction: row;
}

.computer {
    position: relative;
    width: fit-content;
    padding-top: 3rem;
    padding-left: 6rem;
    padding-bottom: 1rem;
    padding-right: 6rem;
    background-color: var(--cream-dark-1);
    border: 1px var(--cream-light-2) solid;
    filter: drop-shadow(0 0 1rem var(--cream-light-1));
    border-radius: 30px;
    cursor: pointer;
}

.computer_img {
    width: 450px;
    filter: blur(0.055rem);
}

.container .computer h3 {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 30px;
    font-family: 'Poppins';
    z-index: 1;
}