.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-radius: 1rem;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.container img {
    width: 46px;
}

.container h4 {
    margin: 0;
    font-family: 'Poppins';
}